/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERALES */
:root {
    --color-white: #FFF;
    --color-black: #212922;
    --color-destaque: #01A437;
    --color-claro: #ACE894;
    --color-CTA: #E55934;
    --color-trans: #F8F8F81A;
    --fntSize-txtNormal: 16px;
    --fntSize-txtSubttl: 22px;
    --fntSize-txtTtl: 40px;
    --fntSize-txtPeq: 14px;
    --fntSize-txtH1-desktop: 96px;
    --fntSize-txtH1-mobile: 64px;
}
@font-face {
    font-family: 'Fonarto';
    src: url(../fonts/fonarto.ttf);
}



/* ELEMENTOS */

ul {list-style: none;}

a {
text-decoration: none;
color: var(--color-white);
}


/* NAVBAR STYLING STARTS */
.navbar {
display: flex;
padding:0 20px;
background: rgba(21, 25, 27, 0.8);
color: var(--color-white);
position: fixed;
z-index: 2000;
}

.active {color: var(--color-claro);}

/* NAVBAR MENU */
.menu {
display: flex;
gap: 1em;
font-size: 18px;
}

.menu li:hover {
background-color: var(--color-destaque);
border-radius: 5px;
transition: 0.3s ease;
}

.menu li {padding: 5px 14px;}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {display: none;} 

/* HAMBURGER MENU */
.hamburger {
display: none;
font-size: 24px;
user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.navbar {background-color: var(--color-black);}
.menu {
display:none;
position: absolute;
background-color: var(--color-black);
right: 0;
left: 0;
text-align: center;
padding: 16px 0;
}

.menu li:hover {
display: inline-block;
transition: 0.3s ease;
}

.menu li + li {
margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu {
display: block;
}

.hamburger {
display: block;
}


}


button {
    font-family: 'Fonarto';
    display: block;
    font-size: var(--fntSize-txtSubttl);

    background-color: var(--color-black);
    color: var(--color-white);
    padding: 16px 40px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: var(--color-destaque);
}

.background-CTA {
    background-color: var(--color-CTA);
}

.button-unfilled-white {
    background-color: transparent;
    border: 2px solid var(--color-white);
}

.button-unfilled-black {
    background-color: transparent;
    border: 2px solid var(--color-white);
}

img {padding:0;margin: 0;}

h1 {font-family: 'Asap Condensed', sans-serif; font-size: var(--fntSize-txtH1-desktop); text-transform: uppercase;}

h2 {
    font-family: 'Arima', cursive;
    font-weight: 500;
}

h3 {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 500;
}
p {
    font-family: 'Arima', cursive;
    font-size: var(--fntSize-txtNormal);
}

/* DISPLAY */
.grid {display: grid;}

.allWidth {width: 100%;}

.allHeight {height: 100%;}

.flex {
    display: flex;
    flex-direction: row;
}

.vflex {flex-direction: column;}

.flxCenter {
    justify-content: center;
}

.flxAlgnCenter {
    align-items: center;
}

.flxAlgnStrt {
    align-items: baseline;
}
.flxBetween {
    justify-content: space-between;
}

.flxEnd {
    justify-content: flex-end;
}

.gap20 {gap:20px}
.gap25{gap:25px}
.gap8 {gap: 8px;}


.centerDiv {width:60%; margin:0 auto;}
.espacio60 {height: 60px;}
.espacio30 {height: 30px;}

.padding80 {padding: 0 10%;}

.borderBox {box-sizing: border-box;}

.bg-oscuro {background-color: var(--color-black);}

.bgImgCC {
    background-position: center;
    background-size: cover;
}

/* TEXTO */
.txtBlanco {color: var(--color-white);}

.txtDestaque {color: var(--color-destaque);}

.txtShadowBlanco {text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);}

.txtCenter {text-align: center;}
.txtJustify {text-align: justify;}
.txtUppercase {text-transform: uppercase;}


.fntAsap {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 500;
}

.txt40 {font-size: var(--fntSize-txtTtl);}
.txt22 {font-size: var(--fntSize-txtSubttl);}
.txt96 {font-size: var(--fntSize-txtH1-desktop);}
.txt14 {font-size: var(--fntSize-txtPeq)}
.txtSubtitulo {font-family: 'Asap Condensed'; font-weight: 500; font-size: var(--fntSize-txtSubttl);}

.fntArima {
    font-family: 'Arima', cursive;
    font-weight: 500;
}

.fntFonarto {
    font-family: 'Fonarto', sans-serif;
    font-weight: 700;
}

/* REUTILIZABLES */
header {position: relative; max-width: 100vw;}

.circulo {
    height: 92px;
    width: 92px;
    border-radius: 50%;
    background-color: var(--color-destaque);
  }

.hero {height: 35vh; padding-bottom: 30px;}

.banner {
    background: linear-gradient(0deg, rgba(172, 232, 148, 0.7), rgba(172, 232, 148, 0.7)), url(../img/fondo-blanco-lineas.png);
    background-position: center;
    background-size: cover;
}

.grid-productos{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 60px;
}

.check-ul {list-style-image: url(../img/checkmark.svg);}
.check-ul li {margin-bottom: 8px;}
/* INDEX */

#indexHero {
    background: radial-gradient(50% 50% at 50% 50%, rgba(33, 41, 34, 0) 6.77%, #212922 100%),url(../img/burger-hero.png);
    background-blend-mode: hard-light, normal;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#hero-container {
    height: 100%;
    padding-top: 5vh;
}

#indexhero-content {height: 100%;}

#fita-hero {font-size: 246px; text-transform: capitalize;}

.indexhero__SMlogos {
    position: absolute;
    left: 120px;
    bottom: 30%;
    gap: 15px;
}

.SMlogo {
    background: var(--color-trans);
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.razonFita {
    width: calc(100%/3);
    gap: 20px;
    align-items: center;
}

.razonFita img {height: 50px; width: 50px;}

#razones-container {gap: 100px;}

/* Carousel menu */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.carousel-item {width: 267px; border-radius: 11px; overflow: hidden; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-bottom: 5px;}
.carousel-content {padding-left: 18px; padding-bottom: 18px;} 

.carousel-wrapper {overflow: hidden;}

.carousel-control {position: absolute; top: 50%; border-radius: 50%; padding: 0; width: 36px; height: 36px; font-weight: bold;}
.carousel-control-prev {left: -10px;}  
.carousel-control-next {right: -10px;}
.carousel-item p {font-size: var(--fntSize-txtPeq);}
.puntuacionMenu {margin-top: 15px;}


/* Ingredientes */
.vIngredientes-container {
    position: relative;
    height: 500px;
}

.vIngredientes-item {
    width: calc(100% / 7);
    padding: 60px 0 60px 0px;
    background-color: var(--color-claro);
    border-right: 2px solid var(--color-white);
}

.vIngredientes-item p {
    max-width: 138px;
    margin-left: 20px;
}
.vIngredientes-item p span {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 400;
    font-size: var(--fntSize-txtSubttl);
}

.vIngredientes-item img {
    align-self: center;
    width: 80%;
    height: auto;
}

#verMasIngredientes {
    width: calc(2* (100%/7));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/ingredientes-varios.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
}

/* Encuentranos - Ubicaciones */
.contUbicaciones {
    width: 50%;
    height: 700px;
}

#imgIndexUbicaciones {
    background: url(../img/restaurante-personas-comiendo.jpg);
    background-position: center;
    background-size: cover;
}

/* Productos */
.bttnBolsa {
    padding: 0;
    width: 34px;
    height: 34px;
    border-radius: 9px;
}

.producto {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    padding: 16px;
    width: 225px;
}

.producto-img {padding: 16px 25px;}

/* Ubicaciones */

.grid-ubicaciones {
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: auto;
    grid-template-areas: "ubicaciones" "mapa";
}

.ubicacion {padding: 35px 0 25px 40px; border-bottom: 1px solid rgba(182, 193, 182, 0.8);}

.ubicaciones-container {max-height: 90vh; overflow-y: scroll; grid-area: ubicaciones;}

.map {width: 100%; height: 100%; max-height: 90vh; grid-area: mapa;}

.barra-buscar {box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; height: 30px; width: 70%; border-style: none; min-width: 200px;}

.buscar-container{padding: 15px 45px;}

/* Nosotros */

#grid-nosotros {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "parrafocent parrafocent"
                         "txtMision imgMision"
                         "imgMetas txtMetas"
                         "txtSostenible txtSostenible"
                         "imgSostenible imgSostenible";
    grid-column-gap: 90px;
    grid-row-gap: 60px;
    
 }
#nosotros-parrafocent {grid-area: parrafocent;}
#nosotros-txtMision {grid-area: txtMision;}
#nosotros-imgMision {grid-area: imgMision;}
#nosotros-imgMetas {grid-area: imgMetas;}
#nosotros-txtMetas {grid-area: txtMetas; justify-self: end;}
#nosotros-txtSostenible {grid-area: txtSostenible;}
#nosotros-imgSostenible {grid-area: imgSostenible; justify-self: center;}


/* Menu.html */
.addCarrito {font-size: var(--fntSize-txtNormal); padding: 12px 33px; margin-top: 15px;}

/* Footer */
.SMfooter {box-shadow: none;}
/* Media Queries */

@media (max-width: 1024px) {
    /* Generales */
    .desaparecerMobile {display: none;}
    .vflexMobile {flex-direction: column; align-items: center;}
    .stflexMobile{justify-content: flex-start;}

    /* Para los hero que no son del index */
    .hero div {align-items: baseline;}
    .hero {height: 40vh; max-height: 400px;}

    /* Elementos */
    h1 {font-size: var(--fntSize-txtH1-mobile)}
    button {font-size: 20px; white-space: nowrap;}

    /* Banner */
    .banner-content {padding: 15px;}

    /* index.html */
    #fita-hero {font-size: 40vw;}
    .razonFita {width: 100%;}
    #razones-container {gap: 30px;}

    .vIngredientes-item {width: 100%; padding: 60px 0; background-color: var(--color-claro);}
    #verMasIngredientes {width: 100%; height: 40vh; justify-content: center; align-items: center;}

    .contUbicaciones {width: 100%;}

    /* ubcaciones.html */
    .grid-ubicaciones {grid-template-columns: 1fr; grid-template-areas: "mapa" "ubicaciones";}
    .ubicaciones-container {max-height: 40vh;}
    .map {width: 100%; height:30vh; max-height: 30vh;}
}

/* productos.html y menu.html */

@media (max-width: 1366px) {.grid-productos {grid-template-columns: 1fr 1fr 1fr;}}

@media(max-width: 768px) {.grid-productos {grid-template-columns: 1fr;row-gap: 15px;}}

@media (min-width: 769px) and (max-width: 1023px) {.grid-productos {grid-template-columns: 1fr 1fr;}}
